<!DOCTYPE html>
<html>
  <head>
    <title>NamiraShop</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href='http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i' rel='stylesheet'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    params[:controller] %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/preloader' %>
    <%= render 'shared/mobile_sidebar' %>
    <main class="main oh" id="main">
      <%= render 'shared/nav' %>
      <%= yield %>
      <%= render 'shared/footer' %>
      <div id="back-to-top">
        <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
      </div>
    </main>
    <%= yield 'javascript_contents' %>
  </body>
</html>
